tmp/

PEFT/vit-base-patch16-224-in21k-finetuned-lora-food101

PEFT/mit-b0-scene-parse-150-lora/

PEFT/segformer-scene-parse-150-lora/

PEFT/roberta-large-lora-token-classification/

PEFT/wandb/

wandb/

LangChain/bitcoin.md

Mistral/results/
Mistral/training_dataset.json

results/

Mistral/mistral-viggo-finetune/

llama-2-7b-miniguanaco/

llama-2-7b-chat-guanaco/

Mistral/merged_model/
Mistral/mistralai-Code-Instruct/

data/
llama2-7b-journal-finetune/

logs/

llama2-13b-journal-finetune/

LangChain/rtdocs/
LangChain/train.jsonl
LangChain/counts.pkl
LangChain/.ipynb_checkpoints/
LangChain/chroma

LangChain/milvus/data/state_of_the_union.txt


vectorstore/

GregKamradt/.chroma/
GregKamradt/.ipynb_checkpoints/


IntelNeuralChat7bV3/Open-Orca/

Haystack/elasticsearch-7.9.2-linux-x86_64.tar.gz
Haystack/elasticsearch-7.9.2/

Haystack/my_model/

Haystack/auto-correct-pipeline.png
Haystack/basic-rag-pipeline.png
Haystack/haystack2_zephyr_beta.ipynb
Haystack/indexing.png
Haystack/rag.png


SamWitteveen/.chroma/

SamWitteveen/blogposts/

SamWitteveen/chroma_db/
SamWitteveen/persistDb/
SamWitteveen/singapore_text/

SamWitteveen/db.zip
SamWitteveen/db/
SamWitteveen/new_articles.zip
SamWitteveen/new_articles.zip.1
SamWitteveen/new_articles/
SamWitteveen/new_papers.zip
SamWitteveen/new_papers/

SamWitteveen/db2.zip
SamWitteveen/db2/

EleutherAI/

Mistral/NeuralHermes-2.5-Mistral-7B/
Mistral/final_checkpoint/

LangChain/db/

Mistral/.ipynb_checkpoints/

Elastic/images/
Elastic/models/






















